 
.main-pane {
    -fx-background-color: #f4f6f8;
    -fx-padding: 20;
}
 
.header-label {
    -fx-font-size: 26px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
}

 
.error-label {
    -fx-font-size: 14px;
    -fx-text-fill: red;
    -fx-font-weight: bold;
}

 
.nav-button {
    -fx-background-color: #2980b9;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 6 16 6 16;
    -fx-background-radius: 6;
    -fx-border-radius: 6;
    -fx-cursor: hand;
}

.nav-button:hover {
    -fx-background-color: #1c6692;
}

 
.book-table {
    -fx-border-color: #bdc3c7;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
    -fx-font-size: 14px;
}

/* Table Column Header */
.table-view .column-header-background {
    -fx-background-color: #34495e;
    -fx-border-radius: 6 6 0 0;
}

.table-view .column-header .label {
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-alignment: CENTER;
    -fx-padding: 10 0 10 0;
}

/* Table Rows */
.table-row-cell {
    -fx-background-color: white;
    -fx-font-size: 14px;
}

.table-row-cell:filled:selected, .table-row-cell:focused {
    -fx-background-color: #d0e7ff;
}

/* Table Cells */
.table-cell {
    -fx-padding: 10 5 10 5;
    -fx-alignment: CENTER_LEFT;
    -fx-font-family: "Segoe UI";
}

/* Specific Column Styles */
.table-view .column-header .label:filled {
    -fx-text-alignment: center;
}

.table-view .table-column {
    -fx-alignment: CENTER_LEFT;
}
